<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>An Artificial Intelligence Model for Predicting Surgeries Requirements in Non-Small-Cell Lung Cancer Patients  Based on XGBoost Algorithm</title>

    <link rel="shortcut icon" href="https://images.squarespace-cdn.com/content/v1/602a6f5204cc80278e0e5ed1/1615300997899-VP2OEPL21UFCR4MVM21Z/favicon.ico?format=100w">

    <link href="{{ url_for('static',filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet"
          type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="{{ url_for('static',filename='css/bootstrap-select.css') }}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>


    <link href="{{ url_for('static',filename='css/sb-admin-2.min.css') }}" rel="stylesheet">

</head>

<body id="page-top">


<div id="wrapper">

    <ul class="navbar-nav bg-gradient-secondary sidebar sidebar-dark accordion" id="accordionSidebar">

        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="">

            <img src='static/img/Canary_logo_White-01.svg')>
        </a>


        <hr class="sidebar-divider my-0">

        <hr class="sidebar-divider">

        <div class="sidebar-brand-text mx-3" style="color:white;">Precision Medicine Based sets of Artificial Intelligence Models
            for Predicting Surgeries Requirements in Non-Small-Cell Lung Cancer Patients.
        <br><br>
            Non-small-cell lung cancer (NSCLC) patients often develop Complications, and the overall survival for these patients is
            usually perishing. However, a model with high accuracy for predicting the Surgeries Requirement is still lacking. Here, We Canary Global Inc.
           Data Science Team aimed to establish models based on artificial intelligence for predicting the Surgeries Requirement in NSCLC Patient.

        </div>


    </ul>

    <div id="content-wrapper" class="d-flex flex-column">

        <div id="content">


            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" >

                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>


                <p style="margin-top: 15px"> Disclaimer: This Project is under Development and not right now for Production and Internal Part of Canary Global Inc. </p>


            </nav>

            {% if show_form == "false" %}
            <p style="text-align:center;margin-top:18%;margin-bottom:18%">
                    <i class="fas fa-cogs fa-5x" style="color:#515157;"></i>
                    <br/>
                    <br/>

                    <a href="user_details" >Start Analysis</a><br/>
                            Saving Lives Through Early Disease Detection
                </p>

            <div class="container-fluid" style="display:none;">

            {% else %}


      <form class="form-group" style="text-align:center;" method="POST" action="/process">

          <div class="row my-auto" style="padding-left: 100px;padding-right: 10px;padding-top:20px">

            <div class="col-text-gray-800" style="padding:40px">
                Year of Diagnosis &nbsp &nbsp &nbsp
             <select class="selectpicker" data-live-search="true" name="year_of_diagnosis" >
             <option value=""></option>
                {% for i in range(0, year_of_diagnosis_list_len) %}
                <option>{{ year_of_diagnosis_list[i] }}</option>
                {% endfor %}
             </select>
             <hr class="sidebar-divider">
            </div>

            <div class="col-text-gray-800" style="padding: 40px;">

                Approx Age when Lung Cancer was diagnosed First

             <select class="selectpicker"  data-live-search="true" name="age_recoded">
                 <option value=""></option>
                <option value="1">10-14 years</option>
                <option value="2">15-19 years</option>
                <option value="3">20-24 years</option>
                <option value="4">25-29 years</option>
                <option value="5">30-34 years</option>
                <option value="6">35-39 years</option>
                <option value="7">40-44 years</option>
                <option value="8">45-49 years</option>
                <option value="9">50-54 years</option>
                <option value="10">55-59 years</option>
                <option value="11">60-64 years</option>
                <option value="12">65-69 years</option>
                <option value="13">70-74 years</option>
                <option value="14">75-79 years</option>
                <option value="15">80-84 years</option>
                <option value="16">85+ years</option>

             </select>
                 <hr class="sidebar-divider">
            </div>
       <div class="col-text-gray-800" style="padding: 40px" >

                Sex(Male/Female) &nbsp &nbsp &nbsp

             <select class="selectpicker"  data-live-search="true" name="sex">
                 <option value=""></option>
                <option value="0">Female</option>
                <option value="1">Male</option>

             </select>
                 <hr class="sidebar-divider">
            </div>
           </div>
 <hr class="sidebar-divider">

 <div class="row my-auto" style="padding-left: 100px;padding-right: 100px;padding-top:20px">
                 <div class="col-text-gray-800" style="padding:40px">
                Race(White, Black, Other)
             <select class="selectpicker " data-live-search="true" name="race" >
                 <option value=""></option>
                <option value="1">White</option>
                <option value="2">Black</option>
                <option value="3">Other (American Indian/AK Native, Asian/Pacific Islander)</option>
                <option value="4">Unknown</option>
             </select>
                 <hr class="sidebar-divider">
            </div>

            <div class="col-text-gray-800" style="padding:40px;padding-left:30px">
              &nbsp &nbsp  Site recode ICD-O-3/WHO 2008   &nbsp &nbsp
             <select class="selectpicker " data-live-search="true" name="site_recoded" >
                 <option value=""></option>
                 <option value="1">Lung and Bronchus</option>
             </select>
             <hr class="sidebar-divider">
            </div>

      <div class="col-text-gray-800" style="padding: 40px;padding-left: 100px" >

               &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  Grade &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp

             <select class="selectpicker"  data-live-search="true" name="grade">
                 <option value=""></option>
                <option value="1">Well differentiated; Grade I</option>
                <option value="2">Moderately differentiated; Grade II</option>
                <option value="3">Poorly differentiated; Grade III</option>
                <option value="4">Undifferentiated; anaplastic; Grade IV</option>

             </select>
                 <hr class="sidebar-divider">
            </div>
           </div>
                <hr class="sidebar-divider">

            <div class="row my-auto" style="padding-left: 100px;padding-right: 50px;padding-top:20px">

            <div class="col-text-gray-800" style="padding: 40px;padding-left: 20px" >

                &nbsp &nbsp &nbsp &nbspTumor Size&nbsp &nbsp &nbsp &nbsp

             <select class="selectpicker"  data-live-search="true" name="tumor_size">
                 <option value=""></option>
                 {% for i in range(0, size_of_tumor_len) %}
                <option>{{ size_of_tumor[i] }}</option>
                {% endfor %}
             </select>
                 <hr class="sidebar-divider">
            </div>
            <div class="col-text-gray-800" style="padding:40px">
                &nbsp &nbsp &nbsp &nbsp T Stage &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
             <select class="selectpicker " data-live-search="true" name="t_stage" >
                 <option value=""></option>
                <option value="0">T0</option>
                <option value="1">T1</option>
                <option value="2">T2</option>
                <option value="3">T3</option>
                <option value="4">T4</option>
                <option value="5">TX</option>
             </select>
                 <hr class="sidebar-divider">
            </div>

            <div class="col-text-gray-800" style="padding: 40px" >

              &nbsp &nbsp &nbsp &nbsp  N Stage &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp

             <select class="selectpicker"  data-live-search="true" name="n_stage">
                 <option value=""></option>
                <option value="0">N0</option>
                <option value="1">N1</option>
                <option value="2">N2</option>
                <option value="3">N3</option>
                <option value="5">NX</option>
             </select>
                 <hr class="sidebar-divider">
            </div>
                 <div class="col-text-gray-800" style="padding:40px">
              &nbsp &nbsp &nbsp &nbsp  M Stage &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
             <select class="selectpicker " data-live-search="true" name="m_stage" >
                 <option value=""></option>
                <option value="0">M0</option>
                <option value="1">M1</option>
                <option value="5">MX</option>
             </select>
             </select>
                      <hr class="sidebar-divider">
            </div>
           </div>

         <hr class="sidebar-divider">
        <div class="row my-auto" style="padding-left: 100px;padding-right: 50px;padding-top:20px">

            <div class="col-text-gray-800" style="padding: 30px" >

                Metastases at DX-Bone

             <select class="selectpicker"  data-live-search="true" name="metastases_bone">
                 <option value=""></option>
                <option value="0">No</option>
                <option value="1">Yes</option>

             </select>
                 <hr class="sidebar-divider">
            </div>
            <div class="col-text-gray-800" style="padding:30px">
                Metastases at DX-Brain
             <select class="selectpicker " data-live-search="true" name="metastases_brain" >
                 <option value=""></option>
                <option value="0">No</option>
                <option value="1">Yes</option>
             </select>
                 <hr class="sidebar-divider">
            </div>

            <div class="col-text-gray-800" style="padding: 30px" >

                Metastases at DX-Liver

             <select class="selectpicker"  data-live-search="true" name="metastases_liver">
                 <option value=""></option>
                <option value="0">No</option>
                <option value="1">Yes</option>

             </select>
                 <hr class="sidebar-divider">
            </div>

             <div class="col-text-gray-800" style="padding:30px">
                Metastases at DX-Lung
             <select class="selectpicker " data-live-search="true" name="metastases_lung" >
                <option value=""></option>
                <option value="0">No</option>
                <option value="1">Yes</option>
             </select>
                  <hr class="sidebar-divider">
            </div>
           </div>
       <hr class="sidebar-divider">
                <div class="row my-auto" style="padding-left: 100px;padding-right: 100px;padding-top:20px">

            <div class="col-text-gray-800" style="padding:40px">
                Primary Site of Cancer
             <select class="selectpicker" data-live-search="true" name="pri_site_of_cancer" >
                 <option value=""></option>
                <option value="340">C34.0-Main bronchus</option>
                <option value="341">C34.1-Upper lobe, lung</option>
                <option value="342">C34.2-Middle lobe, lung</option>
                <option value="343">C34.3-Lower lobe, lung</option>
                <option value="348">C34.8-Overlapping lesion of lung</option>
                <option value="349">C34.9-Lung, Not Specified</option>

             </select>
             <hr class="sidebar-divider">
            </div>

            <div class="col-text-gray-800" style="padding: 40px ;padding-left: 150px" >

               &nbsp &nbsp &nbsp &nbsp Laterality  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp

             <select class="selectpicker"  data-live-search="true" name="laterality">
                 <option value=""></option>
                <option value="1">Left - origin of primary</option>
                <option value="2">Right - origin of primary</option>
                <option value="3">Bilateral, single primary</option>
                <option value="4">Paired site, but no information concerning laterality</option>
                <option value="5">Only one side - side unspecified</option>
                <option value="6">Not a paired  site</option>

             </select>
                 <hr class="sidebar-divider">
            </div>
              <div class="col-text-gray-800" style="padding: 40px ;padding-left: 100px" >

              Choose A.I Model(s)&nbsp &nbsp &nbsp   &nbsp &nbsp &nbsp

              <select class="selectpicker" multiple data-live-search="true" name="mlalgos">
                <option value="random_forest">Random Forest</option>
                <option value="xgboost">eXtreme Gradient Boosting</option>
                <option value="extratree">Extra Trees Model</option>
                <option value="automl">Auto ML Google</option>
                <option value="catboost">Categorical Boosting</option>
                <option value="lightgbm">Light Gradient Boosting</option>
                <option value="logisticregression">Logistic Regression</option>
                <option value="svm">Support Vector Machine Classifier</option>
                <option value="neural_network">Multi Layer Perceptron (Neural Networks)</option>
                <option value="knn">K Nearest Neighbors (KNN)</option>

            </select>
                  <hr class="sidebar-divider">
              </div>
           </div>

            <hr class="sidebar-divider">


            <br><br>
            <input type="submit" value="Submit" class="btn btn-success" style="color:#2a9a18;background: #1c294e;border-style: hidden">
           </form>
                 <br><br>
                <hr class="sidebar-divider">
                <br><br>
            {% endif %}
              </div>

            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Canary Global Inc.</span></br></br>
                        <span>Developed By <a href="https://owaiskhan9654.github.io/">Owais Ahmad</a></span>
                    </div>
                </div>
            </footer>


        </div>


    </div>

 </div>
    <!-- Bootstrap core JavaScript-->
    <script src="{{ url_for('static',filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='css/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{{ url_for('static',filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{ url_for('static',filename='js/sb-admin-2.min.js') }}"></script>

    <!-- Page level plugins -->
    <script src="{{ url_for('static',filename='vendor/chart.js/Chart.min.js') }}"></script>





</body>

</html>
