<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>An Artificial Intelligence Model for Predicting Surgeries Requirements in Non-Small-Cell Lung Cancer Patients  Based on XGBoost Algorithm</title>

    <link rel="shortcut icon" href="https://images.squarespace-cdn.com/content/v1/6036894478caf77d406425f9/1615300927139-0BJS244BVURC7RUSIOLC/favicon.ico?format=100w">

        <link href="{{ url_for('static',filename='css/loading.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>


<!-- LOADING DOTS... -->
<div class="container" style="position: absolute;
			top:45%;
			left: 50%;">

<div class="spinner-box" >
  <div class="pulse-container">
    <div class="pulse-bubble pulse-bubble-1"></div>
    <div class="pulse-bubble pulse-bubble-2"></div>
    <div class="pulse-bubble pulse-bubble-3"></div>
  </div>
</div>

</div>
<script>
     window.setTimeout(function(){

       // Move to a new location or you can do something else
       window.location.href = "/process";

       }, 3000);

 </script>
</body>
</html>